.logo-img{
  position: absolute;
  width: 14rem;
  height: 14rem;
  top: -30px;
  /* right: 0; */
  /* left: -30px; */
}

.button{
  background-color: #0c0c1d;

}

.convert-button{
  background: linear-gradient(to right, #0c0c1d, #111132);
  
}
.convert-button:hover{
  animation: btn 2s ease-in-out;
}
@keyframes btn {
  0%{
    transform: scale(1);
    color: white;
    background: white;

  }
  50%{
    transform: scale(1.05);
    background: white;
    color: black;
    
  }
  100%{
    transform: scale(1);
    color: white;
    background: linear-gradient(to right, #0c0c1d, #111132);
    
  }
}
